streamlit

langgraph

langchain
langchain-core
langchain-community
langchain-text-splitters

langchain-groq

langchain-huggingface

faiss-cpu

fastembed

sentence-transformers

python-dotenv

typing_extensions

ipython

pydantic
